body {
  text-align: left;
  background: #fff;
  background-size: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
h2{
font-size: 4rem;
color: #ee2f5b;
}
:root{
  --color-primary: #EE2F5B;
  --color-secondary: #F4F4F4;
  --color-text: #F4F4F4;
  --color-7e4e46cc: #7A7A7A;
  --color-1d522ab5: #4054B2;
  --color-6f66f7cf: #23A455;
  --color-172f6628: #000;
  --color-60fea42d: #FFF;
  --font-family: "Criteria";
  --font-size: 5rem;
  --font-weight: 600;
  --line-height: 1.2em;
  --secondary-font-size: 4.3rem;
  --secondary-font-weight: 600;
  --secondary-line-height: 1.2em;
  --text-font-family: "Agrandir";
  --text-font-size: 1rem;
  --text-font-weight: 400;
  --text-line-height: 1.5em;
}
a{
  text-decoration: none;
  color: inherit;
}
ol, ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
sup{
  color: white;
  font-size: 3rem;
}
h1{
  color: var(--e-global-color-a83c27c);
  font-family: "Clash Display", Sans-serif;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 1em;
}
#nav{
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/images/1.webp);
  animation-name: background-img;
  animation-duration: 10s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

@keyframes background-img{
    0%{
        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/2.webp); 
    }
    25%{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/3.webp);  
    }
    50%{
        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/6.webp);
    }
    75%{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/7.webp);
    }  
}
.heloo{
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 1px;
}
.nav-link{
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  color: var(--color-text);
}
.btns{
  color: white;
  background: linear-gradient(to right, #FD4E33, #E02870);
  padding: 18px 45px;
  margin-left: 50px;
  border: none
}
.btn:hover {
  background: linear-gradient(to right, #E02870, #FD4E33);
  color: white;
}
 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler{
  border: none
}
@media(max-width:1201px){ 
  .btns{
    padding: 15px 30px;
    margin-left: 10px;
  }
  .navbar-brand{
    margin-right: 0px
  }
  #nav{
    height: fit-content;
  }
  .first-sec{
    height: fit-content;
    }
    .gif-buyticket-row{
      height: fit-content;
    }
 }
.hero > .anticipate{
  color: var(--color-text);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 30px;
  margin-bottom: 20px
}
.hero h1{
  color: var(--color-secondary);
  font-family: "Clash Display", Sans-serif;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
}
.hero p{
  text-align: center;
  color: var(--color-text);
  font-family: var(--text-font-family);
  font-weight: var(--secondary-font-weight);
  letter-spacing: 2px;
  margin-top: 30px;
}
.sponsor{
  display: flex;
  justify-content: center;
}
.sponsor button{
  color: white;
  font-family: sans-serif;
  font-weight: var(--secondary-font-weight);
  background-color: transparent;
  padding: 20px 40px;
  border: 1px solid #676577;
}
#buyticket-btn:hover{
  color: #08003C;
}
.offcanvas-top{
  background: linear-gradient(to top, #E02870, #FD4E33);
}
.sponsor-self{
display: flex;
justify-content: center;
align-items: center;
color: white;
font-weight: bold;
padding-left: 20px;
}
.gif{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#buyticket-btn{
background-color: transparent;
border: 1px solid #08003C;
border-radius: 0%;
padding: 10px;
outline: none;
font-weight: bold;
color: white;
margin-right: 30px;
}
.first-sec{
background-color: #08003c;
}
.first-sec-con{
color: white;
width: 90%;
height: 65%;
}
.sec-d-1{
  width: 23%;
  height: 100%;
}
.sec-d-2{
  width: 23%;
  height: 100%;
}
.sec-d-3{
  width: 23%;
  height: 100%;
}
.sec-d-4{
  width: 23%;
  height: 100%;
}
.first-sec{
  height: 40vh;
  display: flex;
  justify-content: center;
  }
.about-smfest-sec{
  background-color: #08003C;
  color: white;
  display: flex;
  justify-content: center;
}
.about-smfest-con{
  width: 87%;
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 200px;
  margin-bottom: 200px;
  align-items: center;
  position: relative;
}
.about-smfest-divone{
  width: 50%;
  padding-right: 70px;
  /* height: 70%; */
  gap: 20px;
}
.about-smfest-divtwo{
  width: 50%;
  border: 1px solid purple;
  /* height: 200vh; */
}
.about_border{
  border: 4px solid #E02870;
  height: 100vh;
  width: 100%;
  border-radius: 5px;
  /* position: relative; */
}
.about_bg{
  /* background-image: url(./images/about-smfest-2webp.webp); */
  /* height: 80vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
}
.smFest{
  font-family: "Clash Display";
  font-weight: 900;
  font-size: 4rem;
}
.about-it{
  letter-spacing: 8px;
  font-size: 4px;
}
.about_bg img{
  width: 90%;
  height: 650px;
  position: absolute;
  top: 50px;
  right: 100px;
}
.explained-first{
  font-size: 15px;
  font-weight: 700;
  font-family: "Agrandir";
}
.explained-second{
  font-size: 15px;
  font-weight: 700;
  font-family: "Agrandir";
}
.read-more-about{
/* border: 2px solid red; */
position: absolute;
bottom: 4px;
}
.read-more-btn{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: 500;
  padding: 15px 35px;
  text-transform: uppercase;
}
.years-div{
background-color: #000;
width: fit-content;
padding: 10px 50px;
border: 1px solid white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;
z-index: 5;
bottom: 40px;
right: -90px;
}
.years-div-one{
font-family: sans-serif;
text-transform: uppercase;
}
.big-fo{
  font-size: 5rem;
  font-weight: 500;
  font-family: "Clash Display";
}

.years-div-one h1{
}
.years-div-two{
font-weight: 900;
font-family: "Agrandir";
width: 80px;
}
.why-chose-us-section{
  background-color: green;
  
}















@media(max-width:767px){
  .hero h1{
    font-size: 4rem;
  }
  .hero p{
  /* font-family: ; */
  font-size: 1rem;
  }
  .sponsor-con{
    border: 2px solid green;
  }
  .sponsor-sub-con{
    border: 2px solid white;
    height: fit-content;
  }
  #nav{
    height: fit-content;
  }
  .gif-buyticket-row{
    height: fit-content;
  }
  .gif-buyticket-con{
    /* border: 2px solid red; */
  }
  #buyticket-btn{
    margin-right: 0%;
    font-size: 1.20rem;
    }
    .sponsor-self{
      font-size: 1.20rem;
      padding-left: 0px;
    }
    .sec-d-1, .sec-d-2, .sec-d-3, .sec-d-4 {
      width: 100%;
      font-size: 1.10rem;
      font-weight: 500;
      font-family: "Clash Display", Sans-serif;
    }
    .sec-d-1 >h2{
      font-size: 2rem;
      letter-spacing: 1px;
      padding: 10px 0px;
      padding-bottom: 0px;
      /* border: 2px solid red; */
    }
    .sec-d-2 >h2{
      font-size: 2rem;
      letter-spacing: 1px;
      padding: 10px 0px;
      padding-bottom: 0px;
      /* border: 2px solid red; */
    }
    .sec-d-3 >h2{
      font-size: 2rem;
      letter-spacing: 1px;
      padding: 10px 0px;
      padding-bottom: 0px;
      /* border: 2px solid red; */
    }
    .sec-d-4 >h2{
      font-size: 2rem;
      letter-spacing: 1px;
      padding: 10px 0px;
      padding-bottom: 0px;
      /* border: 2px solid red; */
    }
    .upplus{
      position: absolute;
      top: 17px;
      font-size: 18px;
    }
    .sec-d-4{
      position: relative;
    }
    .first-sec{
      height: fit-content;
      }
      .heloo{
        height: fit-content;
        padding-bottom: 60px;
        position: relative;
      }
      .the-single-search-icon{
        position: absolute;
        left: 50%;
        top: 20px;
      }
      .about-smfest-divone{
        width: 100% 
      }
        .about-smfest-divtwo{
          width: 100%;
          padding-bottom: 120px;
          padding-top: 0px;
          margin-top: 0px;
        }

        .about-smfest-con{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          flex-direction: column-reverse;
          align-items: center;
          margin-top: 140px;
          margin-bottom: 100px;
        }
        .about_bg img{
          width: 100%;
          height: 350px;
          position: absolute;
          top: 35px;
          right: 18px;
        }
        
         .about_border{
         border: 5px solid #E02870;
         height: 55vh;
         width: 100%;
         border-radius: 8px;
         /* position: relative; */
        }
        .about-smfest-divone{
          width: 100%;
          padding-right: 0px;
          margin-top: 80px;
          }
          .explained-first{
            font-size: 15px;
            font-weight: 700;
            font-family: "Agrandir";
          }
          .explained-second{
            font-size: 15px;
            font-weight: 700;
            font-family: "Agrandir";
          }
          .about-smfest-sec{
            padding-bottom: 80px;
          }
          .about-smfest-con{
            /* height: 230vh; */
          }
          .smFest{
            font-family: "Clash Display";
            font-weight: 900;
            font-size: 2.20rem;
          }
          h2{
            letter-spacing: 8px;
            font-size: 3px;
          }
          .years-div{
            background-color: #000;
            width: fit-content;
            padding: 0px 60px;
            border: 1px solid white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 5;
            }
            .years-div-one{
            font-family: sans-serif;
            text-transform: uppercase;
            }
            
            .years-div-one h1{

            }
            .big-fo{
              font-size: 3rem;
              font-weight: 500;
              font-family: "Clash Display";
            }
            .years-div-two{
            font-weight: 900;
            font-family: "Agrandir";
            padding: 0;
            }
            .read-more-about{
              /* border: 2px solid red; */
              position: absolute;
              /* background-color: #000; */
              bottom: -90px;
              z-index: 10;
              margin-bottom: -30px;
              }
              .read-more-btn{
                background-color: transparent;
                border: 2px solid white;
                color: white;
                font-weight: 500;
                padding: 10px 30px;
                text-transform: uppercase;
              }
              .years-div-one.h1{
                font-size: 2rem;
              }
               .years-div{
                background-color: #000;
                width: fit-content;
                /* padding: 10px 30px; */
                border: 1px solid white;
                display: flex;
                /* flex-direction: column; */
                justify-content: center;
                align-items: center;
                position: absolute;
                z-index: 5;
                top: 350px;
                right: -20px;
                height: fit-content;
                }

          
}

@media(max-width:991px) and (min-width:768px){
  .sec-d-1{
    width: 40%;
  }
  .sec-d-2{
    width: 40%;
  }
  .sec-d-3{
    width: 40%;
  }
  .sec-d-4{
    width: 40%;
  }
  .first-sec-con{
    gap: 20px;
    height: fit-content;
    }
    .first-sec{
      height: fit-content;
      }
      .heloo{
        height: fit-content;
        padding-bottom: 60px;
        position: relative;
      }
      .the-single-search-icon{
        position: absolute;
        left: 50%;
        top: 20px;
      }
      .about-smfest-divone{
        width: 100% }
        .about-smfest-divtwo{
          width: 100%;
        }
        .about-smfest-con{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          flex-direction: column-reverse;
          align-items: center;
          margin-top: 200px;
          margin-bottom: 0px;
        }

}